# Importation des library necessaire

In [1]:
import pandas as pd
import numpy as np
import xlwt

# Ouverture du fichier txt sous format .csv

In [2]:
df = pd.read_csv('BF.txt', sep="\t", header=None)

# Ajout des noms de colonnes au dataframe DF

In [3]:
df.columns=["geonameid","asciiname","name","alternatenames","latitude","longitude","feature class","feature code","country code","cc2","admin1 code","admin2 code","admin3 code","admin4 code","population","elevation","dem","timezone","modification date"]

In [4]:
print(df)

       geonameid  asciiname       name alternatenames  latitude  longitude  \
0        2353158   Zyonguen   Zyonguen            NaN  12.36667   -0.45000
1        2353159  Zyiliwèlè  Zyiliwele            NaN  12.38333   -2.73333
2        2353160     Zyanko     Zyanko            NaN  12.78333   -0.41667
3        2353161      Zouta      Zouta            NaN  13.14908   -1.28197
4        2353162  Zourtenga  Zourtenga            NaN  12.95741   -1.28745
...          ...        ...        ...            ...       ...        ...
11292   12358656  Timambari  Timambari            NaN  11.84209    1.67023
11293   12358657  Nagbingou  Nagbingou            NaN  13.55244   -0.46760
11294   12358665   Niamango   Niamango            NaN   9.82967   -4.33708
11295   12358676      Sella      Sella            NaN  14.35699    0.28666
11296   12358677    Kiefaye    Kiefaye            NaN  13.78260   -1.58790

      feature class feature code country code  cc2 admin1 code  admin2 code  \
0                 P          PPL           BF  NaN          04          NaN
1                 P          PPL           BF  NaN          06          NaN
2                 P          PPL           BF  NaN          05          NaN
3                 P          PPL           BF  NaN          05         70.0
4                 P          PPL           BF  NaN          05          NaN
...             ...          ...          ...  ...         ...          ...
11292             P          PPL           BF  NaN          08         42.0
11293             P          PPL           BF  NaN          05         64.0
11294             P          PPL           BF  NaN          02         55.0
11295             P          PPL           BF  NaN          12         71.0
11296             P          PPL           BF  NaN          05         15.0

       admin3 code  admin4 code  population  elevation  dem  \
0              NaN          NaN           0        NaN  293
1              NaN          NaN           0        NaN  277
2              NaN          NaN           0        NaN  301
3              NaN          NaN           0        NaN  306
4              NaN          NaN           0        NaN  290
...            ...          ...         ...        ...  ...
11292          NaN          NaN           0        NaN  298
11293          NaN          NaN           0        NaN  275
11294          NaN          NaN           0        NaN  299
11295          NaN          NaN           0        NaN  292
11296          NaN          NaN           0        NaN  320

                 timezone modification date
0      Africa/Ouagadougou        2012-06-05
1      Africa/Ouagadougou        2012-06-05
2      Africa/Ouagadougou        2012-06-05
3      Africa/Ouagadougou        2010-07-31
4      Africa/Ouagadougou        2018-09-05
...                   ...               ...
11292  Africa/Ouagadougou        2021-10-23
11293  Africa/Ouagadougou        2021-10-23
11294  Africa/Ouagadougou        2021-10-24
11295       Africa/Niamey        2021-10-25
11296  Africa/Ouagadougou        2021-10-25

[11297 rows x 19 columns]

# Suppresion de certaines colonnes

In [5]:
df.drop(["asciiname","alternatenames","feature class","feature code","country code","cc2","admin1 code","admin2 code","admin3 code","admin4 code","population","elevation","dem","timezone","modification date"], axis='columns', inplace=True)

In [6]:
print(df)

       geonameid       name  latitude  longitude
0        2353158   Zyonguen  12.36667   -0.45000
1        2353159  Zyiliwele  12.38333   -2.73333
2        2353160     Zyanko  12.78333   -0.41667
3        2353161      Zouta  13.14908   -1.28197
4        2353162  Zourtenga  12.95741   -1.28745
...          ...        ...       ...        ...
11292   12358656  Timambari  11.84209    1.67023
11293   12358657  Nagbingou  13.55244   -0.46760
11294   12358665   Niamango   9.82967   -4.33708
11295   12358676      Sella  14.35699    0.28666
11296   12358677    Kiefaye  13.78260   -1.58790

[11297 rows x 4 columns]

# Renommage des colonnes

In [7]:
df2= df.rename(columns = {'geonameid':'ID', 'name':'location_name', 'latitude':'lat','longitude':'long'}, inplace = False)

In [8]:
print(df2)

             ID location_name       lat     long
0       2353158      Zyonguen  12.36667 -0.45000
1       2353159     Zyiliwele  12.38333 -2.73333
2       2353160        Zyanko  12.78333 -0.41667
3       2353161         Zouta  13.14908 -1.28197
4       2353162     Zourtenga  12.95741 -1.28745
...         ...           ...       ...      ...
11292  12358656     Timambari  11.84209  1.67023
11293  12358657     Nagbingou  13.55244 -0.46760
11294  12358665      Niamango   9.82967 -4.33708
11295  12358676         Sella  14.35699  0.28666
11296  12358677       Kiefaye  13.78260 -1.58790

[11297 rows x 4 columns]

# Enregistrement sous format csv du nom 'burkina_location.csv'

In [9]:
df2.to_csv("burkina_location.csv")

In [10]:
df3 = pd.read_csv("burkina_location.csv")

In [11]:
print(df3)

       Unnamed: 0        ID location_name       lat     long
0               0   2353158      Zyonguen  12.36667 -0.45000
1               1   2353159     Zyiliwele  12.38333 -2.73333
2               2   2353160        Zyanko  12.78333 -0.41667
3               3   2353161         Zouta  13.14908 -1.28197
4               4   2353162     Zourtenga  12.95741 -1.28745
...           ...       ...           ...       ...      ...
11292       11292  12358656     Timambari  11.84209  1.67023
11293       11293  12358657     Nagbingou  13.55244 -0.46760
11294       11294  12358665      Niamango   9.82967 -4.33708
11295       11295  12358676         Sella  14.35699  0.28666
11296       11296  12358677       Kiefaye  13.78260 -1.58790

[11297 rows x 5 columns]

# Filtrage des zones du nom de Gounghin

In [12]:
df4 = df3[(df3['location_name']=='Gounghin')]

In [13]:
print(df4)

       Unnamed: 0        ID location_name       lat     long
147           147   2353306      Gounghin  12.06677 -1.42134
7256         7256   2360473      Gounghin  12.62488 -1.36398
10227       10227   2570204      Gounghin  12.31436 -1.37900
10688       10688  10342749      Gounghin  12.06667 -0.15000
10808       10808  11900680      Gounghin  12.35895 -1.54442

# Enregistrement sous format csv du nom 'gounghin.csv'

In [14]:
df4.to_csv("gounghin.csv")

# Filtrage des noms de lieux sont compris entre 'A' et 'P'

In [15]:
list=("A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P")

In [16]:
df7 = df3[df3.location_name.str.startswith(list)]
df7=df7.sort_values('location_name')

# la latitude, la longitude minimale et les noms de lieux correspondants dans le fichier burkina_location.csv

In [17]:
df31 = df3.groupby(['location_name'])
df8 = df31.agg(latitude_minimale=('lat', np.min), longitude_minimale=('long', np.min))

In [18]:
df8

                latitude_minimale  longitude_minimale
location_name
1200 Logements           12.36888            -1.49750
Abanda                   15.06808            -0.59805
Abanga                   13.32429             0.31151
Abassi                   12.27728            -1.13662
Abaye                    13.44080            -3.90190
...                           ...                 ...
Zourtenga                12.95741            -1.28745
Zouta                    13.14908            -1.28197
Zyanko                   12.78333            -0.41667
Zyiliwele                12.38333            -2.73333
Zyonguen                 12.36667            -0.45000

[9611 rows x 2 columns]

# Identification des lieux dont les coordonnées sont comprises entre (lat >= 11 et lon <= 0.5)

In [19]:
df5= df3[(df3['lat'] >= 11) & (df3['long'] <=0.5) ]

In [20]:
print(df5.location_name)

0         Zyonguen
1        Zyiliwele
2           Zyanko
3            Zouta
4        Zourtenga
           ...
11288         Kate
11290     Koulhole
11293    Nagbingou
11295        Sella
11296      Kiefaye
Name: location_name, Length: 9026, dtype: object

# Etape 4 : Excel

In [21]:
with pd.ExcelWriter('mini_projet.xlsx') as writer:
    df4.to_excel(writer, sheet_name='gounghin')
    df7.to_excel(writer, sheet_name='A_to_P')